<!DOCTYPE html>
<html>
<head>
    <title>CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Single Profile [<%= data.name %>]</h1>
    <p>Age: <%= data.age %></p>

    <br>
    <a href="/displayStudent">Back</a>

</body>
</html>
